<div class="row">
  <!-- lef-->
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-12">

        <a class="btn btn-primary" role="button" ui-sref="app.network.setting">Network</a>
        <a class="btn btn-primary" role="button" ui-sref="app.controller.setting">Controller</a>

      </div>
    </div>

    <!-- list-->
    <div class="row">
      <div class="col-md-12">

        <div ng-controller="TreeCtrl as tree">
          <div ui-view="tree"></div>
          <p>Network name1</p>

          <p>Network name2</p>
        </div>

      </div>
    </div>
  </div>

  <!-- rigth-->
  <div class="col-md-8">
    <div class="row">
      <div class="col-md-12">

        <a class="btn btn-primary" role="button" ui-sref="home">Setting</a>

      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

        <div class="container slide"><p>panel content</p></div>
        <div ui-view="content" class="container slide"></div>

      </div>
    </div>
  </div>

</div>



<div class="footer">
  <div class="container">
    <p><span class="footer"></span> Copy right: Seyed Jalal Hosseini 2015</p>
  </div>
</div>
</div>
